<nav class="navbar navbar-dark bg-dark">
    <a href="http://localhost:3001/" class="navbar-brand">Главная</a>
    <a href="http://localhost:3001/categories" class="navbar-brand">Категории</a>
    <a href="http://localhost:3001/countries" class="navbar-brand">Страны</a>
    <a href="http://localhost:3001/manufacturers" class="navbar-brand">Производители</a>
    <a href="http://localhost:3001/products" class="navbar-brand">Товары</a>
    <a href="http://localhost:3001/users" class="navbar-brand">Пользователи</a>
    <a href="http://localhost:3001/orders" class="navbar-brand">Заказы</a>
    <a href="http://localhost:3001/test" class="navbar-brand">Статистика</a>
</nav>
<h1 style="margin-left: 450px;margin-top: 50px">Добавление нового товара</h1>
<div class="container1" style="margin-top:70px; width:500px; margin-left:500px">
    <form name="myForm"  action="/product" method="post">
        <div class="form-group row">
            <label for="cat" class="col-sm-2 col-form-label">Товар</label>
            <div class="col-sm-10">
                <input type="text" style = "width: 250px; margin-left: 50px" class="form-control" name = "prod" id="cat" placeholder="Название товара">
            </div>
        </div>
        <div class="form-group row">
            <label for="cat" class="col-sm-2 col-form-label">Производитель</label>
            <div class="col-sm-10">
                <select style = "width: 250px; margin-left: 50px" class="form-control" name="manuf">
                    {{#each manuf}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="cat" class="col-sm-2 col-form-label">Категория</label>
            <div class="col-sm-10">
                <select style = "width: 250px; margin-left: 50px" class="form-control" name="categ">
                    {{#each category}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="cat"  class="col-sm-2 col-form-label">Стоимость товара</label>
            <div class="col-sm-10">
                <input type="text" style = "width: 250px; margin-left: 50px" class="form-control" name = "cost" id="cost" placeholder="Стоимость товара">
            </div>
        </div>
        <div class="form-group row">
            <label for="cat"  class="col-sm-2 col-form-label">Количество товара</label>
            <div class="col-sm-10">
                <input type="text" style = "width: 250px; margin-left: 50px" class="form-control" name = "quantity" id="quantity" placeholder="Количество товара">
            </div>
        </div>
        <div class="form-group row">
            <label for="cat" class="col-sm-2 col-form-label">Картинка</label>
            <div class="col-sm-10">
                <input type="text" style = "width: 250px; margin-left: 50px" class="form-control" name = "kart" id="kart" placeholder="Название картинки">
            </div>
        </div>
        <div class="form-group row">
            <label for="cat" class="col-sm-2 col-form-label">Описание</label>
            <div class="col-sm-10">
                <textarea name="area" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Описание товара"></textarea>
            </div>
        </div>
        <br>
        <button type="submit" id="btn" class="btn btn-primary">Добавить</button>
        {{#if msg}}
        <div> <p>{{msg}}</p></div>
        {{/if}}
    </form>
</div>

<br>
<br>
<table class="table" style="width: 1200px; margin-left:60px">
    <thead>
    <tr>
        <th>id</th>
        <th>Название товара</th>
        <th>ID производителя</th>
        <th>ID категории</th>
        <th>Стоимость товара</th>
        <th>Количество товара</th>
        <th>Картинка товара</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each prod}}
    <tr>
        <th>{{id}}</th>
        <td>{{name}}</td>
        <td>{{manuf_id}}</td>
        <td>{{category_id}}</td>
        <td>{{cost}}</td>
        <td>{{quantity}}</td>
        <td>{{urll}}</td>
        <td><a class="btn btn-primary" href="/updateprod/{{id}}">
            Изменить товар</a></td>
        <td><a class="btn btn-primary" href="/deleteprod/{{id}}">
            Удалить товар
        </a></td>
    </tr>
    {{/each}}
    </tbody>
</table>
<br>
<br>
<script src="prod.js"></script>